<div id="<%= dom_id job %>">
  <p>
    <strong>Nombre:</strong>
    <%= job.name %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= job.description %>
  </p>

  <p>
    <strong>Escrito por :</strong>
    <%= job.user.email %>
  </p>

</div>
